@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,400;0,500;0,600;0,800;1,400;1,500;1,600;1,800&display=swap");
@import url("https://fonts.cdnfonts.com/css/br-firma");

@tailwind base;
@tailwind components;
@tailwind utilities;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}  


@layer components {

    .max-container {
        max-width: 1380px;
        margin: 0 auto;
        padding: 0 20px;
        width: 100%;
    }

    .nav-header {
        @apply absolute top-30 left-0 right-0 h-75
    }
    
    button.has-dropdown svg {
        @apply relative top-3
    }

    .bar-section .card-item-1 {
        position: absolute;
        bottom: 32%;
        left: -28%;
    }

    .bar-section .card-item-2 {
        position: absolute;
        bottom: 56%;
        left: 1%;
    }

    .bar-section .card-item-3 {
        position: absolute;
        top: 8%;
        right: 25%;
    }

    .bar-section .card-item-1::after {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        font-feature-settings: "tnum";
        color: #082552;
        position: absolute;
        top: 0;
        right: -52px;
        height: 40px;
        width: 40px;
        border-radius: 100%;
        text-align: center;
        background-color: #fff;
        font-weight: 700;
        border: 1px solid rgba(8, 37, 82, .07);
        box-shadow: 1px 1px 2px rgba(8, 37, 82, .1);
        content: "1" !important;
    }
    .bar-section .card-item-2::after {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        font-feature-settings: "tnum";
        color: #082552;
        position: absolute;
        top: 0;
        right: -52px;
        height: 40px;
        width: 40px;
        border-radius: 100%;
        text-align: center;
        background-color: #fff;
        font-weight: 700;
        border: 1px solid rgba(8, 37, 82, .07);
        box-shadow: 1px 1px 2px rgba(8, 37, 82, .1);
        content: "2" !important;
    }
    .bar-section .card-item-3::after {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        font-feature-settings: "tnum";
        color: #082552;
        position: absolute;
        top: 0;
        right: -52px;
        height: 40px;
        width: 40px;
        border-radius: 100%;
        text-align: center;
        background-color: #fff;
        font-weight: 700;
        border: 1px solid rgba(8, 37, 82, .07);
        box-shadow: 1px 1px 2px rgba(8, 37, 82, .1);
        content: "3" !important;
    }

    .investments-section {
        background-image: url('/src/assets/images/return-pattern.svg');
        background-repeat: no-repeat;
    }

}
